@model IEnumerable<LibraryWebApplication.Books>

@{
    ViewData["Title"] = "Книги";
}

<h1>Книги автора @ViewBag.author</h1>
<div>
    <a asp-action="AddBook" asp-route-id="@ViewBag.authorid">Додати книгу</a>
    <br>
    <a asp-controller="Books" asp-action="Index">Всі книги</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfPublication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPages)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfPublication)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPages)
                </td>
            </tr>
        }
    </tbody>
</table>